/* src/app/animations.css */
.animated-gradient-text {
  background-image: linear-gradient(
    -225deg,
    #4c66ff 0%,
    #8c52ff 29%,
    #d23eff 67%,
    #ff2e8d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
